body {
    background: #403D39;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: "Pixelify Sans", monospace;
}

#console {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    width: 24rem;
    background: #E54B4B;
    border: 2px solid #252422;
    border-radius: 0.5rem;
}

#title {
    color: inherit;
    text-decoration: none;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    cursor: pointer;
}

#screen {
    background: #FFFCF2;
    border: 2px solid #252422;
    border-radius: 0.5rem;
    width: 20rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.5rem;
}

#btns {
    height: auto;
    width: 21rem;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
}

button {
    width: 10.25rem;
    padding: 0.5rem;
    background: #403D39;
    color: #FFFCF2;
    border: 2px solid #252422;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-family: inherit;
    cursor: pointer;
}

button:active {
    background: #252422;
    border-color: #FFFCF2;
}

#social {
    width: 21rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}
.icon  {
    width: 2.75rem;
    height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    background: #403D39;
    color: #FFFCF2;
    border-radius: 50%;
    border: 2px solid #252422;
}

